.nitrado-webserver-sidebar {
    height: calc(100vh - 6rem);
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;

    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    /*color: rgba(var(--bs-emphasis-color-rgb), .85);*/
    background-color: rgb(var(--bs-primary-rgb));
}

.btn-toggle span.bi::before {
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] span.bi::before {
    transform: rotate(90deg);
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: rgb(var(--bs-primary-rgb));
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
