<html th:replace="~{nitrado.webserver :: layout(~{::title}, ~{::section})}" lang="en">
<head>
    <title>Login | Nitrado:WebServer</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-icons.min.css" rel="stylesheet"/>
    <link id="additionalCss" href="../static/css/login.css" rel="stylesheet"/>

    <style>
        body {
            background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1))!important
        }
    </style>
</head>
<body >
    <section id="login" data-bs-theme="dark" class="d-flex flex-column">
        <div th:if="${ERROR}" th:text="${ERROR}" class="alert alert-danger align-self-center"></div>
        <div th:unless="${ERROR}" th:text="${ERROR}" class="mt-5"></div>
        <div id="cardLogin" class="card flex-grow-0 bg-body-tertiary border-0 p-3 align-self-center" style="max-width:400px;">
            <div id="cardLoginSelection" class="card-body">
                <h5 class="card-title">Login</h5>
                <div class="d-flex flex-column align-items-stretch">
                    <hr>
                    <a id="loginPasswordBtn" href="#" class="btn btn-lg btn-primary text-secondary">
                        With Player Password  <span class="bi bi-chevron-right ms-3"></span>
                    </a>
                    <small class="text-body-tertiary">
                        Use a previously created player password.
                    </small>
                    <a id="loginCodeBtn" href="#" class="btn btn-lg btn-secondary text-secondary mt-4">
                        With Login Code  <span class="bi bi-chevron-right ms-3"></span>
                    </a>
                    <small class="text-body-tertiary">
                        Use a one-time code that can be created with an in-game command.
                    </small>
                    <hr>
                    <span class="text-center mt-2">OR</span>
                    <hr>
                    <a id="loginPasswordCreateBtn" href="#" class="btn btn-lg btn-secondary text-secondary">
                        Create Player Password  <span class="bi bi-chevron-right ms-3"></span>
                    </a>
                    <small class="text-body-tertiary">
                        Set up a password that can be used for future logins.
                    </small>
                    <hr>
                </div>
            </div>

            <div id="cardLoginCode" class="card-body d-none">
                <a id="loginCodeClose" href="#" class="text-secondary position-absolute top-0 end-0 p-1 fs-3">
                    <span class="bi bi-x me-1"></span>
                </a>
                <h5 class="card-title mt-3 mb-3">
                    Login With Login Code
                </h5>
                <form method="POST">
                    <input type="hidden" name="method" value="code">
                    <div class="alert alert-dark mb-4">
                        <p>While connected to the Hytale game server, execute the command</p>
                        <p class="text-body-secondary ps-3">/webserver code create</p>
                        <p>to retrieve a Login Code.</p>
                    </div>
                    <div class="mb-3">
                        <label for="loginCodeInput" class="form-label">Login Code</label>
                        <input type="text" required autocomplete="off" autocapitalize="characters" class="form-control bg-body-secondary text-white" id="loginCodeInput" name="loginCode">
                    </div>
                    <div class="d-flex align-content-stretc mt-3h">
                        <button type="submit" class="btn btn-primary flex-grow-1">
                            Login
                        </button>
                    </div>
                </form>
            </div>

            <div id="cardLoginPassword" class="card-body d-none">
                <a id="loginPasswordClose" href="#" class="text-secondary position-absolute top-0 end-0 p-1 fs-3">
                    <span class="bi bi-x me-1"></span>
                </a>
                <h5 class="card-title mt-3 mb-3">
                    Login With Player Password
                </h5>
                <form method="POST">
                    <input type="hidden" name="method" value="password">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" type="text" required class="form-control bg-body-secondary text-white" aria-describedby="usernameHelpBlock">
                        <div id="usernameHelpBlock" class="form-text">
                            You may use your display name or UUID.
                        </div>

                        <label for="password" class="form-label mt-2">Password</label>
                        <input id="password" name="password" type="password" required class="form-control bg-body-secondary text-white">
                        <div class="alert alert-info mt-3">
                            The required password is unique to this server. Do not use your Hytale account password here.
                        </div>
                    </div>
                    <div class="d-flex align-content-stretc mt-3h">
                        <button type="submit" class="btn btn-primary flex-grow-1">
                            Login
                        </button>
                    </div>
                </form>
            </div>

            <div id="cardLoginPasswordCreate" class="card-body d-none">
                <a id="loginPasswordCreateClose" href="#" class="text-secondary position-absolute top-0 end-0 p-1 fs-3">
                    <span class="bi bi-x me-1"></span>
                </a>
                <h5 class="card-title mt-3 mb-3">
                    Create Player Password
                </h5>
                <form method="POST">
                    <input type="hidden" name="method" value="passwordCreate">
                    <div class="alert alert-dark mb-4">
                        <p>While connected to the Hytale game server, execute the command</p>
                        <p class="text-body-secondary ps-3">/webserver code create</p>
                        <p>to retrieve a Login Code.</p>
                    </div>
                    <div class="mb-3">
                        <label  for="passwordCreateLoginCode" class="form-label">Login Code</label>
                        <input id="passwordCreateLoginCode" name="loginCode" type="text" minlength="9" maxlength="9" required class="form-control bg-body-secondary text-white" autocomplete="off">

                        <label for="passwordCreatePassword" class="form-label mt-2">Password</label>
                        <input id="passwordCreatePassword" name="password" type="password" required class="form-control bg-body-secondary text-white">

                        <label for="passwordCreatePasswordRepeated" class="form-label mt-2" aria-describedby="passwordMismatch">Password (Repeated)</label>
                        <input id="passwordCreatePasswordRepeated" name="passwordRepeated" required type="password" class="form-control bg-body-secondary text-white">
                        <div id="passwordMismatch" class="invalid-feedback">
                            Passwords do not match.
                        </div>

                        <div class="alert alert-info mt-3">
                            Admins of this Hytale server may gain access to the password you assign. Do not use your
                            Hytale account password here.
                        </div>
                    </div>
                    <div class="d-flex align-content-stretc mt-3h">
                        <button type="submit" class="btn btn-primary flex-grow-1" disabled>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <th:block id="additionalJavascript">
        <script src="../static/js/login.js" th:src="@{/static/js/login.js}" type="text/javascript"></script>
    </th:block>
</body>
</html>